.search-bar {
  width: auto;
  height: 48px;
  padding: 0 24px;
  margin-right: auto;

  @media (min-width: 950px) {
    margin-right: unset;
  }
}

.search-preview-container {

  & .search-preview {
    background-color: white;
    border: 1px solid $clr12;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: box-shadow 0.2s ease;
    align-items: center;
    color: $clr7;
    display: inline-flex;
    max-width: 100%;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    }



    & button {
      background-color: transparent;
      color: inherit;
      font-size: rem(14px);
      font-weight: 600;
      line-height: 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      min-width: 80px;
      cursor: inherit;
    }
    & button.guests-btn {
      color: $clr8;
      font-weight: 400;
    }

    & button.search-btn {
      min-width: unset;
      color: white;
      background-color: $brand-clr;

      border-radius: 50%;
      padding: 10px;
      height: 32px;
      width: 32px;

      & .icon-svg {
        padding: 0;
        display: block;
        fill: none;
        height: 12px;
        width: 12px;
        overflow: visible;

        & svg {
          stroke-width: 5.33333 !important;
          height: 12px !important;
          width: 12px !important;
        }
      }
    }
  }
}

.splitter {
  flex: 0 0 1px;
  height: 24px;
  width: 1px;
  background-color: $clr12;
}