.search-form {
  position: fixed;
  top: 80px;
  left: 0;
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: max-content;
    margin: 0;

    background-clip: padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 32px;
  }

  & .form-control {
    padding: 12px 33px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;

    & .el-input__wrapper {
      box-shadow: none;
      padding: 0;
      height: 18px;
      background: transparent;
    }
    
    & div {
      font-size: rem(12px);
      font-weight: 600;
    }

    & span {
      font-size: rem(14px);
    }
  }

  & .form-control:hover {
    border: 1px solid transparent;
    border-radius: 32px;
    background-color: #EBEBEB;
  }

  & .dates-container {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 100%;
  }

  & .form-date-picker {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
  }
}

