.search-bar {
  // display: none;

  @media screen and (min-width: 800px){
    display: flex;
    align-items: center;
    width: auto;
    height: 48px;
    padding: 0 24px;
    margin-right: auto;
    
    @media (min-width: 950px) {
      margin-right: unset;
    }
  }
}

.search-preview-container {

  & .search-preview {
    background-color: white;
    border: 1px solid $clr12;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: box-shadow 0.2s ease;
    align-items: center;
    color: $clr7;
    display: inline-flex;
    max-width: 100%;
    vertical-align: middle;
    cursor: pointer;

    &.stay-details-search {
      width: 300px;
      justify-content: space-between;
      align-items: center;
      height: 48px;

      & > div {
        padding-inline: 18px;
        font-size: 14px;
        line-height: 18px;
        font-family: cereal-medium;
      }
    }

    &:hover {
      box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    }

    & button {
      background-color: transparent;
      color: inherit;
      font-size: rem(14px);
      font-family: cereal-medium;
      line-height: 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      min-width: 80px;
      cursor: inherit;
    }
    & button.guests-btn {
      color: $clr8;
      font-family: cereal-medium;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100px;
    }

    & button.search-btn {
      min-width: unset;
      color: white;
      background-color: $brand-clr;

      border-radius: 50%;
      padding: 10px;
      height: 32px;
      width: 32px;

      // margin: 7px 7px 7px 0;

      & .icon-svg {
        padding: 0;
        display: block;
        fill: none;
        height: 12px;
        width: 12px;
        overflow: visible;

        & svg {
          stroke-width: 5.33333 !important;
          height: 12px !important;
          width: 12px !important;
        }
      }
    }
  }
}

.splitter {
  flex: 0 0 1px;
  height: 24px;
  width: 1px;
  background-color: $clr12;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: transform 150ms ease, opacity 150ms ease 75ms;
}

.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: scale(1.3) translateY(40px);
}

.fade-in-enter-active,
.fade-in-leave-active {
  transition-delay: 100ms;
  transition: transform 150ms ease, opacity 150ms ease 75ms;
}

.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
  transform: scale(0.7) translateY(-80px);
}
