.user-nav {
  border-radius: 50px;
  border: 1px solid $clr12;
  cursor: pointer;
  transition: box-shadow .3s;
  position: relative;
  padding: 5px 5px 5px 12px;

  &:not(.mobile-footer .user-nav){
    @media screen and (max-width: 800px){
      display: none;
      // position: absolute;
      // right: $mobile-layout-padding;
    }
  }
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  }

  & button {
    background-color: unset;
    color: gray;
    cursor: pointer;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: rem(18px);

    & .profile-icon {
      border-radius: 50%;
      height: 30px;
      padding: 0;
    }
  }
}

.user-nav .user-menu {
  position: absolute;
  top: 15px;
  right: -1px;
  background-color: white;
  width: 240px;
  box-shadow: 0 2px 16px rgb(0 0 0 / 12%);
  border-radius: 12px;
  padding: 8px 0;
  margin-top: 34px; 
  font-size: 14px;

  & hr {
    margin: 0;
    border: #dff0ea;
  }

  & li {
    padding: 8px 12px;
    color: $clr7;

    &:hover {
      background-color: #F7F7F7;
    }
  }
}