.dashboard-listings {
  max-width: 100%;
  padding: 0;

  @media screen and (max-width: 800px) {
    margin-bottom: 100px;
  }

  .page-title {
    // margin-left: 10px;
    h1 {
      font-size: rem(32px);
      padding-bottom: 24px;
      padding-top: 36px;
    }
  }

  .el-table .cell {
    padding-left: 0;
  }
  .el-table_4_column_31, .el-table_5_column_39, .el-table_21_column_165 {
    .cell {
      padding-right: 0;
    }
  }

  @media screen and (max-width: 800px) {
    max-width: 100%;
    overflow-x: scroll;
    // margin-bottom: 100px;
  }

  & .listing-title {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: rem(24px);
  }

  & .listing-preview {
    display: flex;
    align-items: center;
    gap: 7px;

    & img {
      width: 100px;
      border-radius: 5px;
      height: auto;
      object-fit: cover;
    }

    & h3 {
      color: black;
    }
  }
}

.listing-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  line-height: 2;
}

.add-padding {
  @media screen and (max-width: 800px) {
    margin-bottom: 100px;
    
  }
}