.guest-modal {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 12px;
  background: white;
  border-radius: 32px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  margin-top: 12px;
  padding: 16px 32px;


  .guest-option {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    padding-right: 4px !important;

    .description {
      .title {
        font-size: rem(16px);
        color: $clr7;
        padding-inline-end: 6px;
      }
      
      .subtitle {
        font-size: rem(14px);
        color: $clr8;
      }
    }

    .guest-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      button {
        width: 32px;
        height: 32px;
        cursor: pointer;
        display: inline-flex;
        margin: 0;
        padding: 0;
        text-align: center;
        border: 1px solid #b0b0b0;
        color: #717171;
        font-family: inherit !important;
        outline: none !important;
        touch-action: manipulation !important;
        align-items: center !important;
        justify-content: center !important;
        background: rgb(255, 255, 255) !important;
        border-radius: 50% !important;
      }

      button:disabled {
        cursor: not-allowed !important;
        color: rgb(235, 235, 235) !important;
        border-color: rgb(235, 235, 235) !important;
        background: rgb(255, 255, 255) !important;
      }

      button:hover {
        color: rgb(34, 34, 34) !important;
        border-color: rgb(34, 34, 34) !important;
        background: rgb(255, 255, 255) !important;
      }
    }
  }
}