* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: cereal, sans-serif;
    line-height: 1.6;
    color: $clr7;
}

body {
    background-color: $clr6;
    font-size: 1em;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cereal;
    margin: 0 0 0.6em;
    line-height: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section, main, footer {
    padding: 5px;
}

// img {
//     width: 100%;
// }

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}