* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    // font-family: montserrat;
    font-family: cereal, sans-serif;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    // font-family: caveat;
    font-family: cereal;
    margin: 0 0 0.6em;
    line-height: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section, main, footer {
    padding: 5px;
}

// img {
//     width: 100%;
// }

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

