.main-layout {
    max-width: 2520px;
    margin-inline: auto;
    padding: 0;
    display: grid;
    grid-template-columns:
        $layout-padding
        1fr
        $layout-padding;

    @include for-xl {
        grid-template-columns:
            calc($layout-padding * 2)
            1fr
            calc($layout-padding * 2);
    }

    > * {
        grid-column: 2;
        // padding-inline: $layout-padding;

        &.full {
            grid-column: 1 /-1;
        }
    }

    // @include for-narrow-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $mobile-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-normal-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $narrow-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-wide-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $normal-breakpoint)
    //         minmax(20px, 1fr);
    // }
}