.order-details {
  margin-inline: auto;
  width: 100%;
  .page-title {
    padding-top: 64px;
    padding-bottom: 16px;
    gap: 32px;
    align-items: baseline;
  }

  .details-section {
    min-width: 40%;
    .trip-details {
      & > * {
        padding-bottom: 24px;
      }
      h3 {
        font-size: rem(22px);
        margin: 0;
      }
      h4 {
        font-size: rem(16px);
      }
    }
    .divider {
        margin-bottom: 24px;
    }
    .login-msg {
        text-align: center;
    }
  }

  .summary-card-section {
    padding: 24px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    height: fit-content;
    min-height: 40%;
    .stay-details {
      padding-bottom: 24px;
      .stay-desc {
        padding-left: 12px;
      }
    }
    .price-details {
      h3 {
        padding: 24px 0;
        font-size: rem(22px);
        margin: 0;
      }
      .cost-details .base-cost {
        margin-bottom: 16px;
      }
      .divider {
        margin: 24px 0;

      }
    }
  }
  .link {
    text-decoration: underline;
  }

  .font-thin {
    font-family: 'cereal-light';
  }

  .host {
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }
  .rating-review {
    align-items: baseline;
    font-size: 12px;
    .avg-rating {
      font-family: cereal;
    }
    .rev-count {
      text-decoration: none;
      font-family: cereal;
    }
    .icon-svg svg {
      height: 12px;
      width: 12px;
    }
  }

  .summary-card-section {
    img {
      height: 106px;
      width: 124px;
      border-radius: 8px;
    }
  }
}

.order-content {
  flex-direction: column-reverse;
  gap: 35px;
  margin-bottom: 96px;

  @media screen and (min-width: 800px){
    flex-direction: row;
  }
}