.dashboard {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;

  & .dashboard-content {
    max-width: 100%;
    height: calc(100vh - 200px);

    @media screen and (max-width: 800px){
      width: calc(100vw - 48px)
    }
  }
  .avg-payout-chart {
    width: 25%;
  }
}

.dashboard .dashboard-nav {
  margin: 32px;

  @media screen and (max-width: 800px) {
    max-width: 100%;
    overflow-x: scroll;
    margin: 20px;
  }
  
  & ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  & ul li {
    padding: 5px 10px;
    // box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    border-radius: 10px;
    transition: box-shadow .3s;
    color: black !important;
  }
  
  & ul a.router-link-exact-active li {
    color: $brand-clr !important;
  }

  
}
