.dashboard {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 150px 1fr;

  & .side-nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & .side-nav ul a.router-link-exact-active {
    color: black;
  }

  & .dashboard-content {
    max-width: 100%;
    height: calc(100vh - 120px);
  }
}