@font-face {
    font-family: cereal;
    src: url('../../styles/fonts/airbnb-cereal-font/AirbnbCereal-Book.86b15ac0.ttf');
}
@font-face {
    font-family: cereal-bold;
    src: url('../../styles/fonts/airbnb-cereal-font/AirbnbCereal-Bold.c94c29fe.ttf');
}
@font-face {
    font-family: cereal-medium;
    src: url('../../styles/fonts/airbnb-cereal-font/AirbnbCereal-Medium.d9fb3054.ttf');
}
@font-face {
    font-family: cereal-light;
    src: url('../../styles/fonts/airbnb-cereal-font/AirbnbCereal-Light.1f9c7d32.ttf');
}
@font-face {
    font-family: cereal-black;
    src: url('../../styles/fonts/airbnb-cereal-font/AirbnbCereal-Black.4395b29d.ttf');
}