// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222222;
$clr8: #717171;
$clr9: rgb(34,34,34);
$clr10: rgba(0,0,0,0.5);
$clr11: rgb(113,113,113);
$clr12: #DDDDDD;
$brand-clr: #FF385C;

$layout-padding: 40px;
$stay-details-layout: 1120px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;