.stay-header {
    position: sticky;
    margin-top: 20px;
    top: 80px;
    z-index: 15;
    background-color: $clr6;
    box-sizing: border-box;
    line-height: 20px;
    max-height: 78px;
    text-size-adjust: 100%;
    font-size: 0.75rem;
    font-weight: bold;

    display: grid;
    grid-template-columns: auto;
    // grid-template-columns: auto 100px;
    justify-content: center;
    align-items: center;

    & .labels-container {
        @extend .flex, .justify-center, .align-center;
        gap: 32px;
        width: 100%;
        overflow-x: hidden;
    }
    // box-shadow: 0px 1px $clr11;
}

// .carousel__viewport {
//     border: 1px solid black;
//     width: 90%;
//     justify-self: center;

//     > ol > :first-child {
//         background-color: green;
//         padding-left: 0;
//     }
// }

.carousel__prev, .carousel__next {
    opacity: 1;
    transition: opacity 0.5s;
    border-radius: 50%;
    border: 1px solid $clr13;
    background-color: white;
    box-shadow: 0px 0px 20px 22px white;
    text-align: center;
    height: 28px;
    width: 28px;

    svg {
        width: 20px;
        height: 20px;
        color: black;
    }
    
    &.carousel__prev--disabled, &.carousel__next--disabled {
        opacity: 0;
        z-index: -1;
    }
}