.stay-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(262px, 320px));
    grid-auto-flow: dense;
    row-gap: 40px;
    column-gap: 24px;
    padding: 0;
    margin-bottom: 40px;

    a {
        color: $clr1;
        padding: 0;
    }

    pre {
        background-color: #ddd;
        font-size: .5em;
        color: #333;
        padding: .2em;
        margin: .2em;
    }
}