.stay-header {
    position: sticky;
    top: 80px;
    background-color: $clr6;
    box-sizing: border-box;
    color: $clr9;
    grid-template-columns: 1030.4px;
    line-height: 20px;
    max-height: 78px;
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    text-size-adjust: 100%;
    gap: 10px;
    color: rgb(113,113,113);
    font-size: 0.75rem;
    font-weight: bold;
}