.stay-label {
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    color: $clr11;
    border-bottom: 3px solid transparent;

    &:hover, &.clicked-label {
        border-bottom: 3px solid #ddd1d1;
        color: black;

        .label-img {
            opacity: 1;
        }
    }
}

.clicked-label {
    border-bottom: 3px solid black !important;
}

.label-img {
    box-sizing: border-box;
    color: $clr11;
    font-size: 12px;
    height: 24px;
    fill: $clr11;
    opacity: 50%;
    transition: opacity 0.2s;
}